/*-----Busines-----*/
body {
    background-image: url('../assets/background/fondo04.jpg');
    background-size: cover;
    background-position: center;
}

#businessDiv {
    position: absolute;
    top: 25px;
    left: 30%;
    width: 40%;
    min-width: 200px;
    height: 760px;
}

#businesReg {
    height: 670px;
    width: 100%;
    min-width: 200px;
    right: 0;
    top: 0;
}

#businesSign {
    top: 15px;
    right: 35%;
}

#hidenDiv {

    width: 84%;
    position: absolute;
    top: 65px;
    left: 8%;
    height: 50px;
    text-align: left;
}

#label1 {
    position: absolute;
    left: 0;
    top: 5px;
}

#hidenInput {
    left: none;
    right: 0;
    width: 65%;
    min-width: 120px;
    font-size: 23px;
    display: none;
}

#businesDropDown {
    position: absolute;
    top: 15px;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: white;
    border: none;
    background-image: url('../assets/icon/drop_down.png');
    background-position: center;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

#businesOptions {
    position: absolute;
    right: 0;
    width: 65%;
    max-width: 320px;
    min-width: 120px;
    font-size: 23px;
    padding: 0 20px;
}

#input9 {
    top: 120px;
    left: 8%;
    width: 84%;
    min-width: 180px;
    font-size: 23px;
}

#businesUbication {
    top: 175px;
    left: 8%;
    width: 84%;
    min-width: 180px;
    cursor: pointer;
    font-size: 23px;
}

#input10 {
    top: 230px;
    left: 8%;
    width: 84%;
    min-width: 180px;
    font-size: 23px;
}

#input11 {
    top: 285px;
    left: 8%;
    width: 84%;
    min-width: 180px;
    font-size: 23px;
}

#biography {
    top: 345px;
    left: 8%;
    width: 78%;
    min-width: 180px;
    height: 150px;
    font-size: 20px;
    text-align: left;
    padding: 10px 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#socMedia {
    top: 520px;
    right: 30%;
}

#mediaContent {
    position: relative;
    top: 425px;
    width: auto;
    min-width: 180px;
    height: 65px;
    padding: 0 5%;
}

.socialLink {
    width: 65%;
    min-width: 100px;
    height: 50px;
    font-size: 23px;
    margin: 10px;
    display: inline;
    background: white;
    color: #5B5B5B;
    text-align: center;
    border-radius: 15px;
}

.socialOptions {
    width: 25%;
    min-width: 80px;
    height: 50px;
    font-size: 17px;
    padding: 15px 10px;
    margin: 10px 5px;
    background: white;
    color: #5B5B5B;
    text-align: center;
    border-radius: 15px;
    display: inline;
}

#addButton {
    border: none;
    border-radius: 100%;
    background: rgb(255, 255, 255, .3);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 630px;
    left: 45%;
}

#plus {
    color: #dddada;
    font-size: 40px;
    text-align: center;
    position: absolute;
    top: -7px;
    left: 4px;
    cursor: pointer;
}

#button6 {
    top: 690px;
    left: 32%;
    background-color: #0DB9A1;
}

#footerBusines {
    top: 880px;
}

@media screen and (max-width: 939px) {
    #biography {
        height: 130px;
    }

    #socMedia {
        top: 500px;
        right: 0;
        left: 15%;
    }

    #mediaContent {
        padding: 0 0;
        margin: 0 0;
    }

    .socialLink {
        width: 60%;
        min-width: 80px;
    }

    .socialOptions {
        width: 28%;
        min-width: 50px;
    }

}

@media screen and (max-width: 749px) {

    #businessDiv {
        top: 150px;
        width: 270px;
    }

    #footerBusines {
        top: 980px;
    }

    #hidenDiv {
        width: 230px;
    }

    #label1 {
        top: 10px;
        font-size: 28px;
    }

    #hidenInput {
        width: 150px;
        font-size: 18px;
    }

    #businesOptions {
        width: 150px;
        font-size: 18px;
    }

    #input9 {
        width: 230px;
    }

    #businesUbication {
        width: 230px;
    }

    #input10 {
        width: 230px;
    }

    #input11 {
        width: 230px;
    }

    #biography {
        height: 130px;
        width: 200px;
    }

    #socMedia {
        top: 500px;
        right: 0;
        left: 15%;
    }

    #mediaContent {
        padding: 0 0;
        margin: 0 0;
        width: 100%;
    }

    .socialLink {
        width: 140px;
        margin: 4px;
    }

    .socialOptions {
        width: 105px;
    }

    #button6 {
        left: 20%;
    }
}