/*-----Reset-----*/
* {
    margin: 0;
    padding: 0;
    border-style: none;
    border: none;
    background-color: transparent;
}

/*-----Layout-----*/
html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    font: 400 13px/1 'Roboto';
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    background-image: url("D:/Documentos/Repositorios GitHub/k_pet_pocket/Registro/Codigo/assets/background/fondo14.jpg");
    background-size: cover;
}

header {
    width: 100%;
    background-color: #5B5B5B;
    height: 50px;
    position: relative;
}

footer {
    width: 100%;
    background-color: #5B5B5B;
    height: 60px;
    position: absolute;
    bottom: 0%;
}

.container {
    width: 100%;
    position: relative;
}

/*-----header-----*/

.title {
    color: white;
    font-size: 40px;
    text-decoration: none;
    display: inline;
    position: absolute;
    top: 0;
    left: 25px;
}

.topButton {
    background-color: #0DB9A1;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    padding-top: 11px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 9px;
    display: inline-block;
    text-align: center;
    border: 1px solid white;
    position: absolute;
    top: 0;
    right: 0;
}

.exitButton {
    background-color: #B24025;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    padding-top: 11px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 9px;
    display: inline-block;
    text-align: center;
    border: 1px solid white;
    position: absolute;
    top: 0;
    right: 0;
}

/*-----Footer-----*/

.foot {
    text-decoration: none;
    color: white;
    font-size: 35px;
}

.foot1 {
    position: absolute;
    top: 15px;
    left: 20px;
}

.foot2 {
    position: absolute;
    top: 15px;
    left: 45%;
    font-size: 30px;
}

/*-----Common-----*/

.icon {
    width: 119px;
    height: 93px;
    position: absolute;
    display: inline;
    left: 20px;
    top: 20px;
}

.form {
    width: 350px;
    height: 400px;
    border-radius: 15px;
    background: rgb(103, 104, 103, .8);
    position: absolute;
    top: 20px;
    right: 70px;
}

.title2 {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 119px;
    font-size: 38px;
}

.input {
    background: white;
    color: #5B5B5B;
    font-size: 30px;
    width: 240px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    position: absolute;
}

.primaryButton {
    width: 175px;
    height: 45px;
    text-align: center;
    color: white;
    font-size: 23px;
    font-weight: bold;
    background: #B24025;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
}

.paw {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 5px;
    top: 8px;
}

/*-----Index-----*/

#input1 {
    top: 90px;
    right: 55px;
    font-size: 25px;
}

#input2 {
    top: 150px;
    right: 55px;
    font-size: 25px;
}

#button1 {
    top: 250px;
    right: 93px;
}

#recPassword {
    text-decoration: none;
    color: #0DB9A1;
    font-size: 15px;
    text-align: center;
    position: absolute;
    right: 105px;
    top: 350px;
}